<div class="container mt-2">
  <div class="row">
    <h3>お知らせ一覧</h3>
  </div>
      <h4><%= link_to "新着のお知らせ", new_public_post_path %></h4>
        <div class="d-flex justify-center flex-wrap">
          <% @posts.each do |post| %>
            <div class="m-3">
              <% if post.image.present? %>
                <%= link_to public_post_path(post) do %>
                  <%= image_tag post.image, size: "200x150" %>
                <% end %>
              <% end %>
              <div><%= post.name %></div>
              <div><%= post.introduction %></div>
              <div><%= post.address %></div>
              <div><%= post.created_at.strftime('%Y/%m/%d') %></div>
            </div>
          <% end %>
        </div>
</div>

<%#= paginate @posts %>
