<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3>お知らせ一覧</h3>
      <h6>新着のお知らせは<%= link_to "こちら", public_post_notifications_path(@posts) %>から</h6>
    </div>

  </div>
    <h5>現在<%= @total_post %>件の投稿があります</h5>
      
<div class="d-flex justify-center flex-wrap">
  <% @posts.each do |post| %>
          <div class="m-3">
              <% if post.image.present? %>
                <%= link_to public_post_path(post) do %>
                  <%= image_tag post.image, size: "200x150" %>
                <% end %>
              <% end %>
              <div>場所：<%= post.name %></div>
              <div>説明：<%= post.introduction %></div>
              <div>住所：<%= post.address %></div>
              <div>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></div>
            </div>
          <% end %>
        </div>
    <%= paginate @posts %>
</div>


