<div class="container mt-2">
  <div class="row">
    <h3>検索結果</h3><p class="ml-3">※下記の画像を押すと、詳細ページに進みます</p>
    <table border="1" cellpadding="5" style="width:100%">
      <% @range == "Post" %>
      <!--検索対象モデルがPost -->
      <thead>
        <tr>
          <th class="table-secondary">画像</th>
          <th class="table-secondary">場所</th>
          <th class="table-secondary">説明</th>
          <th class="table-secondary">住所</th>
          <th class="table-secondary">投稿日</th>
        </tr>
      </thead>
    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td>
            <% if post.image.present? %>
              <%= link_to public_post_path(post) do %>
                <%= image_tag post.image, size: "200x150" %>
              <% end %>
            <% end %>
          </td>
          <td><%= post.name %></td>
          <td><%= post.introduction %></td>
          <td><%= post.address %></td>
          <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>