<div class="container mt-2">
  <div class="row">
    <h3>検索結果</h3><p class="ml-3">※場所を押すと、詳細ージに進みます</p>
    <table border="1" cellpadding="5" style="width:70%">
      <% @range == "Post" %>
      <!--検索対象モデルがPost -->
      <thead>
        <tr>
          <th class="table-secondary" style="width:15%">場所</th>
          <th class="table-secondary" style="width:20%">説明</th>
          <th class="table-secondary" style="width:10%">住所</th>
          <th class="table-secondary" style="width:10%">投稿日</th>
        </tr>
      </thead>
    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td>
            <%= link_to public_post_path(post), class: 'text-info' do %>
              <%= post.name %>
            <% end %>
          </td>
          <td><%= post.introduction %></td>
          <td><%= post.address %></td>
          <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>