<div class="container mt-2">
  <div class="text-center">
    <h1>LIFEについて</h1>
    <h3>
      LIFEは各自治体が発信している災害時の避難情報や<br>
      持ち物などをお知らせするサイトです。<br>
      どの年代の方も、見やすいサイト作りを心掛けています。<br>
      会員以外の方もサイトに関する<br>
      ご意見やご質問等ございましたら<br>
      お気軽に下記のフォームからご送付ください。<br>
    </h3>
    
    <% if @home.errors.any? %>
        <%= @home.errors.count %>件のエラーが発生しました
      <ul>
        <% @home.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </ul>
      <% end %>
      <div class="row">
      <div class="col-md-12">
    <%= form_with model: @home, url: public_homes_path do |f| %>
    <table style="width:70%" class="mx-auto mt-5">
      <tr>
        <th><%= f.label :氏名 %></th>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
      
      <tr>
        <th><%= f.label :メールアドレス %></th>
        <td><%= f.text_field :email, autofocus: true %></td>
      </tr>
      
      <tr>
        <th><%= f.label :ご意見・ご質問 %></th>
        <td><%= f.text_area :opinion, autofocus: true, size: "30x5" %></td>
      </tr>
    </table>
    <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>
  </div>
</div>