<div class="container mt-2">
  <div class="text-center">
    <h1>LIFEについて</h1>
    <h3>
      LIFEは各自治体が発信している災害時の避難情報や<br>
      持ち物などをお知らせするサイトです。<br>
      お子様からお年寄りまで、見やすいサイト作りを心掛けています。<br>
      会員以外の方もサイトに関する<br>
      ご意見やご質問等がございましたら<br>
      お気軽に下記のフォームからご送付ください。<br>
    </h3>

    <%= form_with model: @home, url: public_homes_path do |f| %>
    <table class="table">
      <tr>
        <td>お名前</td>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email, autofocus: true %></td>
      </tr>
      <tr>
        <td>ご意見・ご質問内容</td>
        <td><%= f.text_area :opinion, autofocus: true, size: "25x5" %></td>
      </tr>
    </table>
    <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>