<div class="container">
  <div class="text-center">
    <h1>LIFEについて</h1>
    <h3>
      LIFEは各自治体が出している災害時の避難情報や<br>
      持ち物などをお知らせするサイトです。<br>
      お子様からお年寄りまで見やすいサイト作りを心掛けております。<br>
      会員の方だけでなく、ゲストログインの方もサイトに関して<br>
      ご意見やご質問等ございましたら<br>
      お気軽に下記のフォームからご送付ください。<br>
    </h3>

    <%= form_with model: @home, url: public_homes_path do |f| %>
    <table class="table">
      <tr>
        <td>お名前</td>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email, autofocus: true %></td>
      </tr>
      <tr>
        <td>ご意見・ご質問内容</td>
        <td><%= f.text_area :opinion, autofocus: true %></td>
      </tr>
      <tr>
        <td>
          <%= f.radio_button :is_active, true %>
        </td>
      </tr>
    </table>
    <%= f.submit "送信" %>
    <% end %>
  </div>
</div>