<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <h3>会員情報変更</h3>
  
  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>件のエラーが発生しました
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </ul>
  <% end %>

    <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= f.text_field :telephone_number, autofocus: true %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email, autofocus: true %></td>
        </tr>
        <tr>
          <th>自治体名</th>
          <td><%= @customer.municipality_name %></td>
        </tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_active %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-secondary">退会</div>
            <% end %>
          </td>
        </tr>
      </table>
      <%= f.submit "変更を確定", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>