<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3>会員一覧</h3> 
      <p>顧客の氏名をクリックすると詳細確認画面へ遷移します。</p>
    </div>
        <table bordercolor="black" class="table" border="1" >
          <thead>
            <tr>
              <th class="table-secondary">会員ID</th>
              <th class="table-secondary">氏名</th>
              <th class="table-secondary">フリガナ</th>
              <th class="table-secondary">郵便番号</th>
              <th class="table-secondary">住所</th>
              <th class="table-secondary">電話番号</th>
              <th class="table-secondary">自治体名</th>
              <th class="table-secondary">会員ステータス</th>
            </tr>
          </thead>
          <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to admin_customer_path(customer), class: "text-dark" do %>
                  <%= customer.last_name %><%= customer.first_name %>
                <% end %>
              </td>
              <td><%= customer.last_name_kana %><%= customer.first_name_kana %></td>
              <td><%= customer.postal_code %></td>
              <td><%= customer.address %></td>
              <td><%= customer.telephone_number %></td>
              <td><%= customer.municipality_name %></td>
              <td>
                <% if customer.is_active %>
                  <div class="text-success">有効</div>
                <% else %>
                  <div class="text-secondary">退会</div>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
  </div>
</div>
