<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3><%= @customer.last_name %><%= @customer.first_name %>さんの詳細</h3>
        <table border="1" cellpadding="5" style="width:70%">
          <tr>
            <th class="table-secondary" style="width:20%">会員ID</th>
            <td style="width:50%"><%= @customer.id %></td>
          </tr>

          <tr>
            <th class="table-secondary">氏名</th>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <th class="table-secondary">フリガナ</th>
            <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>

          <tr>
            <th class="table-secondary">郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>

          <tr>
            <th class="table-secondary">住所</th>
            <td><%= @customer.address %></td>
          </tr>

          <tr>
            <th class="table-secondary">電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>

          <tr>
            <th class="table-secondary">メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>

          <tr>
            <th class="table-secondary">自治体名</th>
            <td><%= @customer.municipality_name %></td>
          </tr>

          <tr>
            <th class="table-secondary">会員ステータス</th>
            <td>
              <% if @customer.is_active %>
                <div class="text-success">有効</div>
              <% else %>
                <div class="text-secondary">退会</div>
              <% end %>
            </td>
          </tr>
        </table>

      <div class="d-flex justify-center flex-wrap">
        <div class="mt-2">
          <%= link_to "会員情報変更", edit_admin_customer_path, class: "btn btn-success" %>
          <%= link_to "会員削除", admin_customer_path(@customer), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      </div>
    </div>
  </div>
</div>