<h2>会員からのご意見・ご質問一覧</h2>

<% @homes.each do |home| %>

<table class="table">
  <thead>
    <tr>
      <th>お名前</th>
      <th>メールアドレス</th>
      <th>ご意見・ご質問</th>
      <th>受信日</th>
      <th>確認ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_home_path(home) do %>
          <%= home.name %>
        <% end %>
      </td>
      <td><%= home.email %></td>
      <td><%= home.opinion %></td>
      <td><%= home.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        <% if home.is_active %>
          <div class="text-primary">未確認</div>
        <% else %>
          <div class="text-danger">確認済</div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% end%>