<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3>投稿の編集</h3>
      
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </ul>
      <% end %>

        <%= form_with model: @post, url: admin_post_path do |f| %>
        <table class="table">
          <tr>
            <th>避難場所</th>
            <td><%= f.text_field :name %></td>
          </tr>
          
          <tr>
            <th>説明</th>
            <td><%= f.text_area :introduction, size: "25x4" %></td>
          </tr>
          
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
          </tr>
        </table>

        <%= f.submit "更新", class: "btn btn-success" %>
        <%= link_to "戻る", admin_post_path, class: "btn btn-primary" %>

        <% end %>
    </div>
  </div>
</div>