<h2>新規投稿</h2>

<%= form_with model: @post, url: admin_posts_path do |f| %>

    <div class="field">
      避難場所の画像・地図
        <%= f.file_field :image, accept: "image*/" %>
    </div>

    <div class="field">
      避難場所
        <%= f.text_field :name %>
    </div>

    <div class="field">
      避難場所に関しての説明
        <%= f.text_area :introduction %>
    </div>

    <div class="field">
      避難場所の住所
        <%= f.text_field :address %>
    </div>

    <div class="actions">
      <%= f.submit "投稿" %>
    </div>
<% end %>