<h2>新規投稿</h2>

<%= form_with model: @post, url: admin_posts_path do |f| %>

<table class="table">
  <tr>
    <td>避難場所の画像・地図</td>
    <td><%= f.file_field :image, accept: "image*/" %></td>
  </tr>
  <tr>
    <td>避難場所</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>説明文</td>
    <td><%= f.text_area :introduction %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
  </tr>
</table>


<% end %>