<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h4>ハッシュタグ検索結果</h4><h5 class="font-weight-bold"><%= @tag.name %></h5>
        <% @posts.each do |post| %>
        <div style="width:30%" class="border-info border rounded m-1 text-center">
          <div class="mt-1">
            <%= link_to public_post_path(post.id) do %>
              <%= image_tag post.image.variant(gravity: :center, resize:"150x150^", crop:"200x250+0+0") if post.image.attached? %>
            <% end %>
          </div>
          <div>
            <%= post.name %><br>
            <%= post.introduction %><br>
            <%= post.address %><br>
            <%= post.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>