<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h4>ハッシュタグ検索結果</h4><h5 class="font-weight-bold">#<%= @tag.name %></h5>
        <% @posts.each do |post| %>
        <div style="width:30%" class="border-info border rounded m-1 text-center">
          <div>
            <%= link_to public_post_path(post.id), class: 'text-info' do %>
              <%= post.name %><br>
            <% end %>
              <%= post.introduction %><br>
              <%= post.address %><br>
              <%= post.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>