<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3>情報確認</h3>

        <table border="1" cellpadding="5" style="width:60%">
            <tr>
              <th class="table-secondary" style="width:20%">支払方法</th>
              <td style="width:40%"><%= @donation.payment_method_i18n %></td>
            </tr>
            <tr>
              <th class="table-secondary">寄付場所</th>
              <td><%= @donation.area %></td>
            </tr>
            <tr>
              <th class="table-secondary">寄付金額</th>
              <td><%= @donation.payment_amount.to_s(:delimited) %>円</td>
            </tr>
        </table>

        <p>※内容を変更されたい方は<%= link_to "こちら", new_public_donation_path %></p>

        <%= form_with model: @donation, url: public_donations_path, method: :post do |f| %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :area %>
          <%= f.hidden_field :payment_amount %>

          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <%= f.submit "お支払いを確定する", class: 'btn btn-primary', "data-confirm" => "確定してよろしいですか？" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>