<div class="container mt-2">
  <div class="row">
    <div class="col-md-8">
      <h3>寄付履歴一覧</h3>

        <table  border="1" cellpadding="5" style="width:100%">
          <thead>
            <tr>
              <th class="table-secondary" style="width:20%">場所</th>
              <th class="table-secondary" style="width:20%">金額</th>
              <th class="table-secondary" style="width:20%">支払方法</th>
              <th class="table-secondary" style="width:20%">寄付日</th>
              <th class="table-secondary" style="width:20%">氏名</th>
            </tr>
          </thead>
          
        <% @donations.each do |donation| %>
          <tbody>
            <tr>
              <td><%= donation.area %></td>
              <td><%= donation.payment_amount.to_s(:delimited) %>円</td>
              <td><%= donation.payment_method_i18n %></td>
              <td><%= donation.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= donation.customer.last_name %><%= donation.customer.first_name %></td>
            </tr>
          </tbody>
        <% end %>
        </table>

        <div class="font-weight-bold bg-info mt-4" style="width:20%">合計金額: <%= @donation_payment_total.to_s(:delimited) %>円</div>
    </div>
  </div>
  <%= paginate @donations %>
</div>